/* cell phone */
@media only screen and (max-width: 1250px) {
	.mission-statement p
	{
		margin: 8px 30px 8px;
		border-top: 2px solid #808080;
		padding: 8px 30px 8px;
	}

	.spotify-btn
	{
		margin: 0px;
	}
	.soundcloud-btn
	{

	}

	.navbar-brand img
	{
		margin: 3px;
		float: left;
		padding: 4px;
		max-width: 40%;
		height: auto;
		border: 1px solid #F40000;
		border-radius: 4px;
	}

	.navbar-header a
	{
		width: 400px;
	}
}

@media (max-width: 900px)
{
	.fa
	{
		font-size: 20px;
		padding: 10px;
	}
	.mission-statement p {
	    margin: 10px 15px 10px;
	    border-top: 2px solid #808080;
	    padding: 5px 20px 5px;
	}

	.navbar-brand img
	{
		margin: 3px;
		float: left;
		padding: 4px;
		max-width: 50%;
		height: auto;
		border: 1px solid #F40000;
		border-radius: 4px;
	}
	.navbar-header a
	{
		width: 300px;
	}
}
	
@media (max-width: 600px)
{
	.carousel-caption
	{
		display: none;
	}
	#icon
	{
		max-width: 150px;
	}

	.mission-statement p
	{
		margin: 8px 30px 8px;
		border-top: 2px solid #808080;
		padding: 8px 30px 8px;
	}

	.navbar-brand img
	{
		margin: 3px;
		float: left;
		padding: 4px;
		max-width: 50%;
		height: auto;
		border: 1px solid #F40000;
		border-radius: 4px;
	}
	.navbar-header a
	{
		width: 300px;
	}
}
