/* cell phone */
@media only screen and (max-width: 1250px) {
	.mission-statement p
	{
		margin: 8px 30px 8px;
		border-top: 2px solid #808080;
		padding: 8px 30px 8px;
	}

	.bio-text
	{
		padding: 20px;
		border-bottom: 2px solid #808080;
		float: right;
	}

	.bio-text-bottom
	{
		padding-bottom: 20px;
		float: right;
	}
	.spotify-btn
	{
		margin: 0px;
	}
	.soundcloud-btn
	{

	}
}

@media (max-width: 900px)
{
	.fa
	{
		font-size: 20px;
		padding: 10px;
	}
}
	
@media (max-width: 600px)
{
	.carousel-caption
	{
		display: none;
	}
	#icon
	{
		max-width: 150px;
	}
	h2
	{
		font-size: 1.7em;
	}
}
